.main-head {
  width: 95%;
  margin: 0 0 0 auto;
}

nav {
  @include flex(space-around, center, row);
  min-height: 10vh;
  width: 60%;
  flex-wrap: wrap;
  .logo {
    @include flex(flex-start, center, row);
    flex: 1 1 10rem;
    h1 {
      margin: 2rem;
    }
  }

  ul {
    @include flex(space-around, center, row);
    flex: 1 1 40rem;
  }
}

.intro {
  min-height: 90vh;
  margin: auto;
  width: 90%;
  flex-wrap: wrap;
  @include flex(space-between, center, row);
  h2 {
    font-size: 6rem;
    padding-top: 2rem;
  }

  h3 {
    font-size: 4rem;
    padding: 0.5rem 0rem;
  }

  p {
    padding: 0.5rem 0;
    color: $grey-text;
  }
}

.splash {
  position: absolute;
  top: 0%;
  right: 0%;
  height: 100%;
  z-index: -1;
}

.intro-social {
  margin-top: 3rem;
  a {
    margin-right: 2rem;
  }
}

// .active {
//   background: $grey-text;
//   color: white;
//   padding: 1rem 3rem;
//   border-radius: 5rem;
//   box-shadow: 3px 3px #38a8ce;
// }

#plant-left {
  animation: plant 1.5s ease infinite alternate;
}

@keyframes plant {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(-20%);
  }
}

#plant-right {
  animation: plant 1.5s ease infinite alternate 0.3s;
}

#me {
  animation: me 2s ease-in-out infinite alternate;
  transform-origin: bottom;
}

#clock-arrow {
  animation: clock 1.5s infinite linear;
  transform-box: fill-box;
  transform-origin: bottom;
}

@keyframes me {
  from {
    transform: rotateZ(-3deg);
  }

  to {
    transform: rotateZ(3deg);
  }
}

@keyframes plant {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(-20%);
  }
}

@keyframes clock {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }
}
